{% extends "layout.twig" %}

{% block additional %}

<h2>Modificar la materia</h2>

<form id="form">
  <div class="form-group">
    <label for="exampleFormControlInput1">Clave:</label>
    <input type="text" class="form-control form-control-sm"	 id="clave">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre de Materia:</label>
    <input type="text" class="form-control form-control-sm" id="nombreMateria">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Creditos:</label>
    <input type="number" class="form-control form-control-sm" id="creditos">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Cuatrimestre:</label>
    <input type="text" disabled class="form-control form-control-sm" id="cuatrimestre">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Plan de estudios:</label>
    <input type="text" disabled class="form-control form-control-sm" id="planEstudio">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo de Materia:</label>
    <select class="form-control form-control-sm" id="tipoMateria">
    	<option value="1">Tronco Común</option>
    	<option value="2">Ciencias Básicas</option>
    	<option value="3">Especialidad</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Número horas:</label>
    <input type="number" class="form-control form-control-sm" id="numeroHoras">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <button id="cancelar" class="btn btn-secondary">Cancelar</button>
</form>


<script type="text/javascript">

	//Tomar la URL actual
	var id = window.location.href;
	//Remover todo los caracteres usando el / como delimitador
	//Se hace 4 veces ya que hay 4 de ellos en toda la URL
	for (var i = 0; i < 4; i++) {
		id = id.substring(id.indexOf("/") + 1);
	}

	$("#form").submit(function(e) {

		//prevent Default functionality
		e.preventDefault();

		var clave = $('#clave').val().trim();
		var nombreMateria = $('#nombreMateria').val().trim();
		var creditos = $('#creditos').val().trim();
		var cuatrimestre = $('#cuatrimestre').val().trim();
		var planEstudio = $('#planEstudio').val().trim();
		var tipoMateria = $( "#tipoMateria option:selected" ).text();
		var numeroHoras = $('#numeroHoras').val().trim();

		if (clave!="" && nombreMateria!="" && creditos!="" && cuatrimestre!="" && planEstudio!="" && tipoMateria!="" && numeroHoras!="") {

			$.ajax({
		        type: 'GET',
		        url: '/materia/editar',
		        data: {
		        	id: id,
		        	clave: clave,
		        	nombreMateria: nombreMateria,
		        	creditos: creditos,
		        	tipoMateria: tipoMateria,
		        	numeroHoras: numeroHoras
		        },
		        dataType: 'json',
		        contentType: 'application/json',
		        success: function(respuesta){

		        	Swal.fire({
        				icon: 'success',
        				title: 'Datos guardados con exito',
        				showConfirmButton: true,
        			}).then((result) => {
        				location.href = "/materias";
        			})

		        },
		        error: function(err){
		            Swal.fire({
		                icon: 'error',
		                title: 'Ha ocurrido un error',
		                text: 'Por favor intente de nuevo.',
		            })
		        }
		    });
		} else {

			Swal.fire({
				icon: 'warning',
				title: 'Hay campos vacios y/o datos incorrectos.',
				text: 'Por favor de revisar e intentar de nuevo.',
			})
		}
	});

	function mostrarDatos() {
		$.ajax({
	        type: 'GET',
	        url: '/materia/datos',
	        data: {
	        	id: id
	        },
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	        	
	            //if(respuesta.length > 0)  {

	            	respuesta.forEach(function(opcion) {
	            		$('#clave').val(opcion.clv_materia);
	            		$('#nombreMateria').val(opcion.nombre_materia);
	            		$('#creditos').val(opcion.creditos);
	            		$('#cuatrimestre').val(opcion.cuatrimestre);
	            		$('#planEstudio').val(opcion.clv_plan);
	            		$('#numeroHoras').val(opcion.num_horas);

	            		if (opcion.tipo_materia == "TRC") {
	            			$('#tipoMateria option[value="1"]').attr("selected", "selected");
	            		} else if (opcion.tipo_materia == "CB") {
	            			$('#tipoMateria option[value="2"]').attr("selected", "selected");
	            		} else {
	            			$('#tipoMateria option[value="3"]').attr("selected", "selected");
	            		}

	            	});
	            //}
	            

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	$( "#cancelar" ).click(function() {
		window.history.back()
	});


	mostrarDatos();

 	
</script>

{% endblock %}