{% extends "layout.twig" %}

{% block additional %}

Hola {% if gender == "m" %}
    Mr.
{%- elseif gender == "f" %}
    Mrs.
{%- endif %}
<b>{{ name }}</b>!


<script type="text/javascript">
	function verificarSesion() {
		$.ajax({
	        type: 'GET',
	        url: '/homeConfig',
	        data: {},
	        dataType: 'text',
	        success: function(respuesta){

	            
	            if (respuesta.length == 0) {
	            	location.href = "/";
	            } else {

	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
 	}
 	verificarSesion();
 </script>


{% endblock %}
