{% extends "layout.twig" %}

{% block additional %}

<h5>Administrar profesores</h5>

<input id="livesearch" type="text" placeholder="Buscar..." class="form-control"/>
<br>
<div>
	<button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-secondary" id="agregar">Agregar</button>
	<button type="button" id="modificar" class="btn btn-secondary">Modificar</button>
	<button type="button" id="eliminar" class="btn btn-secondary">Eliminar</button>
	<!--<button type="button" id="compartir" class="btn btn-secondary">Compartir</button>-->
</div>
<br>
<div class="left">
	<table class="search-table table table-bordered table-striped" id="myTable" style="cursor: default;">
	  <thead class="thead-light">
	    <tr>
	      <th>Nombre de usuario</th>
	      <th>Clave de usuario</th>
	      <th>Teléfono</th>
	      <th>Nivel academico</th>
	      <th>Contrato</th>
	      <th>Carrera</th>
	      <th>IMR%</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!-- PROFESORES -->
	  </tbody>
	</table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<label  class="col-form-label">Usuario:</label>
      		<input type="text" class="form-control" id="usuario">
      	</div>
      	<div class="form-group">
      		<label  class="col-form-label">Contraseña:</label>
      		<input type="text" class="form-control" id="password">
      	</div>
      	<div class="form-group">
      		<label  class="col-form-label">Nombre Completo:</label>
      		<input type="text" class="form-control" id="nombreCompleto">
      	</div>
      	<div class="form-group">
      		<label  class="col-form-label">Teléfono:</label>
      		<input type="text" class="form-control" id="telefono">
      	</div>
      	<div class="form-group">
      		<label for="exampleFormControlSelect1">Nivel academico:</label>
      		<select class="form-control form-control-sm" id="nivelAcademico">
      			<option value="1">Dr.</option>
      			<option value="2">M.C</option>
      			<option value="3">Lic.</option>
      		</select>
      	</div>
      	<div class="form-group">
      		<label for="exampleFormControlSelect1">Carrera:</label>
      		<select class="form-control form-control-sm" id="carrera">
      		</select>
      	</div>
      	<div class="form-group">
      		<label for="exampleFormControlSelect1">Contrato:</label>
      		<select class="form-control form-control-sm" id="contrato">
      			<option value="1">PA</option>
      			<option value="2">PTC</option>
      		</select>
      	</div>
      	<div class="form-group">
      		<label  class="col-form-label">IMR:</label>
      		<input type="text" class="form-control" id="imr">
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="aceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Compartir -->
<!--<div class="modal fade" id="compartirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal2"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="compartirModalBody">
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="aceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
-->

<style type="text/css">
    tr.highlighted td {
    	background: #6666ff;
    }
}
</style>


<script type="text/javascript">
	var claveUsuario;

	function obtenerMaestros() {
		$.ajax({
	        type: 'GET',
	        url: '/maestros/getMaestros',
	        data: {},
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {
	            		$('#myTable > tbody').append(`
		            		<tr>
		            			<td>`+opcion.nombre_usuario+`</td>
		            			<td>`+opcion.clv_usuario+`</td>
		            			<td>`+opcion.telefono+`</td>
		            			<td>`+opcion.nivel_ads+`</td>
		            			<td>`+opcion.contrato+`</td>
		            			<td>`+opcion.nombre_carrera+`</td>
		            			<td>`+opcion.IMR+`</td>
		            		</tr>`
		            	);
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	function obtenerCarreras() {
		$.ajax({
	        type: 'GET',
	        url: '/carreras/getCarreras',
	        data: {},
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	        	var i = 1;
	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {
	            		$("#carrera").append(new Option(opcion.nombre_carrera), i);
	            		i++;
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}


	/*function obtenerCarrerasCompartir() {
		$.ajax({
	        type: 'GET',
	        url: '/maestros/obtenerCompartir',
	        data: {
	        	claveUsuario: claveUsuario
	        },
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {

	            		$('#compartirModalBody').append(`
	            			<div class="form-check">
	            				<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
	            				<label class="form-check-label">`+opcion.+`</label>
	            			</div>`
		            	);
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}*/


	obtenerMaestros();
	obtenerCarreras();
	
	function obtenerRegistroMaestro() {
		$.ajax({
	        type: 'GET',
	        url: '/maestros/ObtenerRegistroMaestro',
	        data: {
	        	claveUsuario: claveUsuario
	        },
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	            if(respuesta.length > 0) {

	            	console.dir(respuesta);

	            	respuesta.forEach(function(opcion) {
	            		$('#usuario').val(opcion.clv_usuario);
	            		$('#password').val(opcion.pass_usuario);
	            		$('#nombreCompleto').val(opcion.nombre_usuario);
	            		$('#telefono').val(opcion.telefono);

	            		$("#carrera option:contains("+opcion.nombre_carrera+")").attr("selected", true);

	            		$("#nivelAcademico option:contains("+opcion.nivel_ads+")").attr("selected", true);


	            		$("#contrato option:contains("+opcion.contrato+")").attr("selected", true);
	            		$('#imr').val(opcion.IMR);
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}


	$(document).on("click", "#myTable tr", function(event){
		$('#myTable tr').removeClass('highlighted');
		$(this).addClass('highlighted');
	});

	$("#modificar").click(function() {

		var iluminado = 0
		$("#usuario").prop("disabled", true);

		$("#myTable tr").each(function() {
			if ($(this).hasClass("highlighted")) {
				$('#exampleModal').modal('toggle');
				$('#exampleModal').modal('show');
				$('#exampleModal').modal('hide');
				$("#tituloModal").text("Editar carrera");

				claveUsuario = $(this).find("td:eq(1)").text();

				obtenerRegistroMaestro();

				iluminado = 1;
			}
		});

		if (iluminado == 0) {
			Swal.fire({
				icon: 'warning',
				title: 'Seleccione algún maestro',
				text: 'Por favor de revisar e intente de nuevo.',
			})
		}

	});

	/*$("#compartir").click(function() {

		var iluminado = 0

		$("#myTable tr").each(function() {
			if ($(this).hasClass("highlighted")) {
				$('#compartirModal').modal('toggle');
				$('#compartirModal').modal('show');
				$('#compartirModal').modal('hide');
				$("#tituloModal2").text("Compartir profesor.");

				claveUsuario = $(this).find("td:eq(1)").text();

				obtenerCarrerasCompartir();

				iluminado = 1;
			}
		});

		if (iluminado == 0) {
			Swal.fire({
				icon: 'warning',
				title: 'Seleccione algún maestro',
				text: 'Por favor de revisar e intente de nuevo.',
			})
		}

	});*/

	$("#aceptar").click(function() {
		var usuario = $('#usuario').val().trim();
		var password = $('#password').val().trim();
		var nombreCompleto = $('#nombreCompleto').val().trim();
		var telefono = $('#telefono').val().trim();
		var nivelAcademico = $( "#nivelAcademico option:selected" ).text();
		var carrera = $( "#carrera option:selected" ).text();
		var contrato = $( "#contrato option:selected" ).text();
		var imr = $('#imr').val().trim();

		if ((usuario != "" || usuario.length != 0) && (password != "" || password.length != 0) && (nombreCompleto != "" || nombreCompleto.length != 0) && (telefono != "" || telefono.length != 0) && (nivelAcademico != "" || nivelAcademico.length != 0) && (carrera != "" || carrera.length != 0) && (contrato != "" || contrato.length != 0) && (imr != "" || imr.length != 0)) {

			$.ajax({
	        	type: 'GET',
	        	url: "/maestros/nuevoMaestro",
	        	data: {
	        		claveUsuario: claveUsuario,
	        		usuario: usuario,
	        		password: password,
	        		nombreCompleto: nombreCompleto,
	        		telefono: telefono,
	        		nivelAcademico: nivelAcademico,
	        		carrera: carrera,
	        		contrato: contrato,
	        		imr: imr
	        	},
	        	dataType: 'json',
	        	contentType: 'application/json',
	        	success: function(msg) {

	        		Swal.fire({
        				icon: 'success',
        				title: 'Datos guardados con exito',
        				showConfirmButton: true,
        			}).then((result) => {
        				location.href = "/maestros";
        			})

	            },error: function(err){
	                Swal.fire({
	                    icon: 'error',
	                    title: 'Ha ocurrido un error',
	                    text: 'Por favor intente de nuevo.',
	                })
	            }
	        });

		} else {
			Swal.fire({
				icon: 'warning',
				title: 'Hay campos vacios.',
				text: 'Por favor de revisar e intentar de nuevo.',
			})
		}

	});

	function eliminarRegistro() {
		$.ajax({
	        type: 'GET',
	        url: '/maestros/eliminarRegistro',
	        data: {
	        	claveUsuario: claveUsuario
	        },
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){},
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	$("#eliminar").click(function() {

		var iluminado = 0

		$("#myTable tr").each(function() {
			if ($(this).hasClass("highlighted")) {

				Swal.fire({
					title: 'Eliminar registro?',
					text: "No se podrá deshacer la acción.",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si, eliminar'
				}).then((result) => {
					if (result.value) {
						Swal.fire(
							'Registro eliminar',
							'Su registro fue eliminado exitosamente',
							'success'
							)
					}
					claveUsuario = $(this).find("td:eq(1)").text();
					eliminarRegistro();
					location.href = "/maestros";
				})

				iluminado = 1;
			}
		});

		if (iluminado == 0) {
			Swal.fire({
				icon: 'warning',
				title: 'Seleccione algún maestro',
				text: 'Por favor de revisar e intente de nuevo.',
			})
		}

	});

	$("#agregar").click(function() {
		$("#tituloModal").text("Agregar maestro");
		$("#usuario").prop("disabled", false);
		claveUsuario = null;
		valoresDefault();
	});

	//Al querer editar y luego pasar a agregar 
	//los valores se quedan en los campos
	function valoresDefault() {
		
		var carrera = $( "#carrera option:selected" ).text();
		
		$('#usuario').val("");
		$('#password').val("");
		$('#nombreCompleto').val("");
		$('#telefono').val("");

		$('#nivelAcademico option[value="1"]').attr("selected", "selected");
		$('#contrato option[value="1"]').attr("selected", "selected");
		$('#imr').val("");
	}

	$(document).ready(function() {
		$('input#livesearch').liveSearch({
			table : 'table' // table selector
		});
	});
</script>

{% endblock %}