{% extends "layout.twig" %}

{% block additional %}

<h5>Administrar plan de estudio</h5>

<!--<input type="text"  id="search_field" >-->
<input id="livesearch" type="text" placeholder="Buscar..." class="form-control"/>
<br>
<div>
	<button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-secondary" id="agregar">Agregar</button>
	<button type="button" id="modificar" class="btn btn-secondary">Modificar</button>
</div>
<br>
<div class="left">
	<table class="search-table table table-bordered table-striped" id="myTable" style="cursor: default;">
	  <thead class="thead-light">
	    <tr>
	      <th>Clave del plan</th>
	      <th>Nombre del plan</th>
	      <th>Nivel academico</th>
	      <th>Carrera</th>
	    </tr>
	  </thead>
	  <tbody>
	    <!-- PLANES -->
	  </tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<label  class="col-form-label">Clave:</label>
      		<input type="text" class="form-control" id="clavePlan">
      	</div>
      	<div class="form-group">
      		<label  class="col-form-label">Nombre:</label>
      		<input type="text" class="form-control" id="nombrePlan">
      	</div>
      	<div class="form-group">
      		<label for="exampleFormControlSelect1">Nivel academico:</label>
      		<select class="form-control form-control-sm" id="nivelPlan">
      			<option value="1">ING</option>
      			<option value="2">LIC</option>
      		</select>
      	</div>
      	<div class="form-group">
      		<label for="exampleFormControlSelect1">Carrera:</label>
      		<select class="form-control form-control-sm" id="carreraPlan">
      			<option value="1">ITI</option>
      			<option value="2">MECA</option>
      			<option value="3">ISA</option>
      			<option value="4">MANU</option>
      			<option value="5">PYMES</option>
      		</select>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="aceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
    tr.highlighted td {
    	background: #6666ff;
    }
}
</style>


<script type="text/javascript">

	//Si se edita, se necesita la clave anterior para el WHERE del query
	var oldClavePlan;

	function obtenerPlanes() {
		$.ajax({
	        type: 'GET',
	        url: '/planEstudios/getPlanes',
	        data: {},
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {
	            		$('#myTable > tbody').append(`
		            		<tr>
		            			<td>`+opcion.clv_plan+`</td>
		            			<td>`+opcion.nombre_plan+`</td>
		            			<td>`+opcion.nivel+`</td>
		            			<td>`+opcion.idcarrera+`</td>
		            		</tr>`
		            	);
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	obtenerPlanes();
	$(document).on("click", "#myTable tr", function(event){
		$('#myTable tr').removeClass('highlighted');
		$(this).addClass('highlighted');
	});

	$("#modificar").click(function() {

		var iluminado = 0

		$("#myTable tr").each(function() {
			if ($(this).hasClass("highlighted")) {
				$('#exampleModal').modal('toggle');
				$('#exampleModal').modal('show');
				$('#exampleModal').modal('hide');
				$("#tituloModal").text("Editar plan de estudio");
				oldClavePlan = $(this).find("td:eq(0)").text();

				$('#clavePlan').val($(this).find("td:eq(0)").text());
				$('#nombrePlan').val($(this).find("td:eq(1)").text());

				var nivel = $(this).find("td:eq(2)").text();
				var carrera = $(this).find("td:eq(3)").text();

				//Seleccionar el nivel
				if (nivel == "ING") {
					$('#nivelPlan option[value="1"]').attr("selected", "selected");
				} else {
					$('#nivelPlan option[value="2"]').attr("selected", "selected");
				}

				//Seleccionar la carrera
				if (carrera == "1") {
					$('#carreraPlan option[value="1"]').attr("selected", "selected");
				} else if (carrera == "2") {
					$('#carreraPlan option[value="2"]').attr("selected", "selected");
				} else if (carrera == "3") {
					$('#carreraPlan option[value="3"]').attr("selected", "selected");
				} else if (carrera == "4") {
					$('#carreraPlan option[value="4"]').attr("selected", "selected");
				} else {
					$('#carreraPlan option[value="5"]').attr("selected", "selected");
				}

				iluminado = 1;
			}
		});

		if (iluminado == 0) {
			Swal.fire({
				icon: 'warning',
				title: 'Seleccione algún plan de estudio',
				text: 'Por favor de revisar e intente de nuevo.',
			})
		}

	});

	$("#aceptar").click(function() {
		var clavePlan = $('#clavePlan').val().trim();
		var nombrePlan = $('#nombrePlan').val().trim();
		var nivelPlan = $( "#nivelPlan option:selected" ).text();
		var carreraPlan = $( "#carreraPlan option:selected" ).text();

		if ((clavePlan!= "" || clavePlan.length!= 0) && (nombrePlan!= "" || nombrePlan.length!= 0) && nivelPlan!="" && carreraPlan!="") {

			if (carreraPlan == "ITI") {
				carreraPlan = 1;
			} else if (carreraPlan == "MECA") {
				carreraPlan = 2
			} else if (carreraPlan == "ISA") {
				carreraPlan = 3
			} else if (carreraPlan == "MANU") {
				carreraPlan = 4
			} else {
				carreraPlan = 5
			}

			$.ajax({
	        	type: 'GET',
	        	url: "/planEstudios/nuevoPlan",
	        	data: {
	        		oldClavePlan: oldClavePlan,
	        		clavePlan: clavePlan,
	        		nombrePlan: nombrePlan,
	        		nivelPlan: nivelPlan,
	        		carreraPlan: carreraPlan
	        	},
	        	dataType: 'json',
	        	contentType: 'application/json',
	        	success: function(msg) {

	        		Swal.fire({
        				icon: 'success',
        				title: 'Datos guardados con exito',
        				showConfirmButton: true,
        			}).then((result) => {
        				location.href = "/planEstudios";
        			})

	            },error: function(err){
	                Swal.fire({
	                    icon: 'error',
	                    title: 'Ha ocurrido un error',
	                    text: 'Por favor intente de nuevo.',
	                })
	            }
	        });

		} else {
			Swal.fire({
				icon: 'warning',
				title: 'Hay campos vacios.',
				text: 'Por favor de revisar e intentar de nuevo.',
			})
		}

	});


	$("#agregar").click(function() {
		$("#tituloModal").text("Agregar plan de estudio");
		oldClavePlan = null;
		valoresDefault();
	});

	//Al querer editar y luego pasar a agregar 
	//los valores se quedan en los campos
	function valoresDefault() {
		$('#clavePlan').val("");
		$('#nombrePlan').val("");
		$('#nivelPlan option[value="1"]').attr("selected", "selected");
		$('#carreraPlan option[value="1"]').attr("selected", "selected");
	}

	//Searchbar
	$(document).ready(function() {
	  $('input#livesearch').liveSearch({
	    table : 'table' // table selector
	  });

	});

</script>


{% endblock %}