{% extends "layout.twig" %}

{% block additional %}

<h5>Puntos de confianza</h5>

<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="exampleFormControlSelect1">Plan de estudio</label>
					<select id="planEstudio" class="form-control"></select>
				</div>
			</div>
			<div class="col">
				<div class="form-group" id="divProfesor">
					<label>Profesor</label>
					<select id="profesor" class="form-control"></select>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		&nbsp;
	</div>

</div>
<div class="row">
	<div class="col-md-10">
		<div id="grid" class="grid-container">
			<!-- GRID CON MATERIAS Y PUNTOS DE CONFIANZA -->
		</div>
	</div>
	<div class="col-md-2" style="padding-left: 40px; left: 23px;">
		
		<br><br><br><br>
		<div class="form-group">
			<center>
				<label>Puntos de confianza</label>
			</center>
			<input type="number" id="puntos" value="0" min="0" max="5" class="form-control" style="text-align: center;">
		</div>
	
		<center>
			<button class="btn btn-primary">Guardar</button>	
		</center>
			
	</div>
</div>

<style type="text/css">
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
		background-color: #ffffff;
		padding: 0px;
		}
	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		padding: 1px;
		font-size: 10px;
		text-align: center;
		cursor: default;
	}
	#grid.highlighted div {
    	background: #6666ff;
    }
    .btnMateria {
        width: 100%;
        height: 100%;
        border: none;
        background: white;
    }
</style>

<script type="text/javascript">
	function obtenerPlanEstudio() {
		return $.ajax({
	        type: 'GET',
	        url: '/puntosConfianza/getPlan',
	        data: {},
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	        	$("#planEstudio").empty()

	        	var i = 0;
	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {
	            		$("#planEstudio").append(new Option(opcion.clv_plan), i);
	            		i++;
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	function obtenerProfesores() {
		return $.ajax({
	        type: 'GET',
	        url: '/puntosConfianza/getProfesores',
	        data: {},
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	        	$("#profesor").empty()

	        	var i = 0;
	            if(respuesta.length > 0) {

	            	respuesta.forEach(function(opcion) {
	            		$("#profesor").append(new Option(opcion.nombre_usuario), i);
	            		i++;
	            	});
	            }

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	function obtenerPuntosMaterias() {
		var profesor = $( "#profesor option:selected" ).text();
		var planEstudio = $( "#planEstudio option:selected" ).text();
		var rol = "{{ rol }}";

		if (rol == "Director") {
			$('#divProfesor').show();
		} else {
			$('#divProfesor').hide();
		}

		$.ajax({
	        type: 'GET',
	        url: '/puntosConfianza/getPuntosMaterias',
	        data: {
	        	rol: rol,
	        	profesor: profesor,
	        	planEstudio: planEstudio
	        },
	        dataType: 'json',
	        contentType: 'application/json',
	        success: function(respuesta){

	        	var i = 0;
            	$('#grid').empty();

            	for (var i = 0; i < 9; i++) {
            		$('#grid').append(`<div class="grid-item">`+(i+1)+`</div>`);
            	}

            	respuesta.forEach(function(opcion) {

            		//Identificar el cuatri 10 y dejar una celda en blanco
            		if (i < 9) {
            			$('#grid').append(`<div class="grid-item"><button class="btnMateria" puntos="`+opcion.puntos+`">(`+opcion.puntos+`)`+opcion.nombre_materia+`</button></div>`);
            			i++;
            		} else {
            			$('#grid').append(`<div class="grid-item"></div>`);
            			$('#grid').append(`<div class="grid-item"><button class="btnMateria" puntos="`+opcion.puntos+`">(`+opcion.puntos+`)`+opcion.nombre_materia+`</button></div>`);
            			i = 1;
            		}
            		
            	});
            	$('#grid').append(`<div class="grid-item"></div>`);

	        },
	        error: function(err){
	            Swal.fire({
	                icon: 'error',
	                title: 'Ha ocurrido un error',
	                text: 'Por favor intente de nuevo.',
	            })
	        }
	    });
	}

	//Detectar evento de cambio en los select y actualizar grid
	$(document).on('change','#planEstudio',function(){
		obtenerPuntosMaterias();
	});

	//Detectar evento de cambio en los select y actualizar grid
	$(document).on('change','#profesor',function(){
		obtenerPuntosMaterias();
	});

	//Esperara a que los dos ajax terminen para poder proseguir
	$.when(obtenerPlanEstudio(), obtenerProfesores()).done(function(){
		obtenerPuntosMaterias();
	});

	//Realizar el iluminado en los botones de grid
	$(document).on("click", "#grid button", function(event){
		$('#grid button').removeClass('highlighted');
		$(this).addClass('highlighted');
		//Color los puntos de la materia seleccionada en el input
		$('#puntos').val($(this).attr('puntos'));
	});

	obtenerPlanEstudio();
	obtenerProfesores();
	
</script>

{% endblock %}